<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xujie.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xujie.domian.UserInfo" >
    <id column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERPASSWORD" property="userpassword" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="EDITTIME" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    USERID, USERNAME, USERPASSWORD, CREATETIME, EDITTIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from USER_INFO
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="checkLogin" resultType="int" parameterType="com.xujie.domian.UserInfo" >
    SELECT COUNT (1) FROM USER_INFO WHERE USERNAME = #{username,jdbcType=VARCHAR} AND  USERPASSWORD = #{userpassword,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from USER_INFO
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xujie.domian.UserInfo"
  >
    insert into USER_INFO (USERID, USERNAME, USERPASSWORD, 
      CREATETIME, EDITTIME)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xujie.domian.UserInfo" >
    insert into USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="userpassword != null" >
        USERPASSWORD,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="edittime != null" >
        EDITTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xujie.domian.UserInfo" >
    update USER_INFO
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        USERPASSWORD = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        EDITTIME = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xujie.domian.UserInfo" >
    update USER_INFO
    set USERNAME = #{username,jdbcType=VARCHAR},
      USERPASSWORD = #{userpassword,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      EDITTIME = #{edittime,jdbcType=TIMESTAMP}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>